
<h1> Top Billboards of 2017</h1>
<hr />
<div class='white' class='nav-link'>
  <% @charts.each do |chart| %> 
   <h4> <%= link_to chart.name, chart %> </h4>
 <% end %>
 <%= link_to 'Add Chart', new_chart_path, class: 'btn btn-primary' %>
 <%= link_to 'View Artists', artists_path, class: 'btn btn-primary' %>
</div>

 


